//
   Created by boulanger on 08/06/2016.
doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/CreationDeck.css')
        link(rel='stylesheet', href='/stylesheets/register.css')
        script(src='/js/CreationDeck.js')
        script(src='/js/register.js')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        div#banniere
            img(src="images/site/banniere.png")
        div#sitelogo
            img(src="images/site/logo.png")
    body
        block content
        block scripts