extends layout

block content
        div#adversaire(z-index=1)
            div#cartebanc
                div#cartebanc(style='max-width:20%;margin-left:0px;')
                div#cartebanc(style='max-width:20%;margin-left:20%;')
                div#cartebanc(style='max-width:20%;margin-left:40%;')
                div#cartebanc(style='max-width:20%;margin-left:60%;')
                div#cartebanc(style='max-width:20%;margin-left:80%;')
            div#carteactif




        div#joueur
            div#cartebanc(style='margin-top:270px;')
                div#cartebanc(style='max-width:20%;margin-left:0px;')
                div#cartebanc(style='max-width:20%;margin-left:20%;')
                div#cartebanc(style='max-width:20%;margin-left:40%;')
                div#cartebanc(style='max-width:20%;margin-left:60%;')
                div#cartebanc(style='max-width:20%;margin-left:80%;')
            div#carteactif(style='top:20px;')
            div#main
                img(style='width:100%;height:100%;',src="images/site/dos.jpg")

            div#recompense
                img(style='width:100%;height:105%;transform: rotate(90deg);',src="images/site/dos.jpg")
            div#deck
                img(style='width:100%;height:100%;',src="images/site/dos.jpg")
            div#defausse
                img(style='width:100%;height:100%;',src="images/site/dos.jpg")



        div#cote









