extends layout

block content
        div#adversaire(z-index=1)
            div#cartebanc
                div#cartebanc(style='max-width:20%;margin-left:0px;')
                div#cartebanc(style='max-width:20%;margin-left:20%;')
                div#cartebanc(style='max-width:20%;margin-left:40%;')
                div#cartebanc(style='max-width:20%;margin-left:60%;')
                div#cartebanc(style='max-width:20%;margin-left:80%;')
            div#carteactif




        div#joueur
            div#cartebanc(style='margin-top:270px;')
                div#cartebanc(style='max-width:20%;margin-left:0px;')
                div#cartebanc(style='max-width:20%;margin-left:20%;')
                div#cartebanc(style='max-width:20%;margin-left:40%;')
                div#cartebanc(style='max-width:20%;margin-left:60%;')
                div#cartebanc(style='max-width:20%;margin-left:80%;')
            div#carteactif(style='top:20px;')
            div#main
            div#recompense
            div#deck
            div#defausse



        div#cote









