extends layout

block content
    div#adversaire(z-index=1)
        div#cartebanc
            div#cartebanc(style='max-width:20%;margin-left:0px;')
                img(style='width:100%;height:100%;transform: rotate(180deg);',src="images/cards/pokemon/XY/XY/26.png")
            div#cartebanc(style='max-width:20%;margin-left:20%;')
                img(style='width:100%;height:100%;transform: rotate(180deg);',src="images/cards/pokemon/XY/XY/37.png")
            div#cartebanc(style='max-width:20%;margin-left:40%;')
                img(style='width:100%;height:100%;transform: rotate(180deg);',src="images/cards/pokemon/XY/XY/12.png")
            div#cartebanc(style='max-width:20%;margin-left:60%;')
                img(style='width:100%;height:100%;transform: rotate(180deg);',src="images/cards/pokemon/XY/XY/16.png")
            div#cartebanc(style='max-width:20%;margin-left:80%;')
                img(style='width:100%;height:100%;transform: rotate(180deg);',src="images/cards/pokemon/XY/XY/9.png")
        div#carteactif
            img(style='width:100%;height:100%;transform: rotate(180deg)',src="images/cards/pokemon/XY/XY/25.png")






    div#joueur
        div#cartebanc(style='margin-top:270px;')
            div#cartebanc(style='max-width:20%;margin-left:0px;')
                img(style='width:100%;height:100%;',src="images/cards/pokemon/XY/XY/42.png")
            div#cartebanc(style='max-width:20%;margin-left:20%;')
                img(style='width:100%;height:100%;',src="images/cards/pokemon/XY/XY/11.png")
            div#cartebanc(style='max-width:20%;margin-left:40%;')
                img(style='width:100%;height:100%;',src="images/cards/pokemon/XY/XY/38.png")
            div#cartebanc(style='max-width:20%;margin-left:60%;')
                img(style='width:100%;height:100%;',src="images/cards/pokemon/XY/XY/33.png")
            div#cartebanc(style='max-width:20%;margin-left:80%;')
                img(style='width:100%;height:100%;',src="images/cards/pokemon/XY/XY/41.png")
        div#carteactif(style='top:20px;')
            img(style='width:100%;height:100%;',src="images/cards/pokemon/XY/XY/31.png")
        div#main
            img(style='width:100%;height:105%;position:relative;',src="images/site/dos.jpg")
            button.btn.btn-default(style='position:absolute;left:50px; right:0px;top:160px;',type=button value="Main" onClick="main()" class="myButton") Main
        script.
            function main() {
                popupS.confirm({
                    content: 'Voici votre main ',
                    labelOk: 'oui',
                    labelCancel: 'Non',
                    onSubmit: function () {
                        window.location.href = "/Gestion"
                    },
                    onClose: function () {
                        console.log(':(');
                    }

                });
            }
            td
        div#recompense
            img(style='width:100%;height:105%;transform: rotate(90deg);',src="images/site/dos.jpg")
        div#deck
            img(style='width:100%;height:100%;',src="images/site/dos.jpg")
        div#defausse
            img(style='width:100%;height:100%;',src="images/site/dos.jpg")



    div#cote
        button.btn.btn-default(style='margin-top:900px;margin-left:25px;',type=button value="Abandonner" onClick="popup()" class="myButton") Abandonner
    script.
        function popup() {
            popupS.confirm({
                content: 'Voulez-vous vraiment abandonner ?',
                labelOk: 'Oui',
                labelCancel: 'Non',
                onSubmit: function () {
                    window.location.href = "/Gestion"
                },
                onClose: function () {
                    console.log(':(');
                }

            });
        }
    td
        button.btn.btn-default(style='position:absolute;left:20px; right:0px;top:160px;',type=button value="Terminer" onClick="main()" class="myButton") Terminer tour
            script.
                function main() {
                    popupS.confirm({
                        content: 'Voici votre main ',
                        labelOk: 'oui',
                        labelCancel: '',
                        onSubmit: function () {
                            window.location.href = "/Gestion"
                        },
                        onClose: function () {
                            console.log(':(');
                        }

                    });
                }
                td











