//
   Created by Lucas on 12/06/2016.

extends banniere



block content
    div#TitreCreation
        div#TitreCreationGauche
            a(href="/Gestion" class="myButton") Retour
        div#TitreCreationDroite
            a(href="/logout" class="myButton") Se déconnecter
        h1 Creation de deck

    div#ListeCarte
        div#ListeCarteGauche
            h3 Listes des types :
            div#systeme_onglets
                div#onglets
                    h4(class="onglet_1 onglet" id="onglet_Tous" onclick="javascript:change_onglet('Tous');") Tous (53)
                    br
                    h4(class="onglet_0 onglet" id="onglet_Pokemons" onclick="javascript:change_onglet('Pokemons');") Pokémons (43)
                    br
                    h4(class="onglet_0 onglet" id="onglet_Energies" onclick="javascript:change_onglet('Energies');") Energies (10)
                    br
                    h4(class="onglet_0 onglet" id="onglet_Dresseurs" onclick="javascript:change_onglet('Dresseurs');") Dresseurs
        div#ListeCarteDroite
            div#ListeCarteCenter
                h3 Listes des cartes
                div.contenu_onglets
                    div.contenu_onglet#contenu_onglet_Tous
                        - for (var i=1 ; i<44 ; i++){
                            div.uneCarte
                                img(id='carte_Tous_pokemon/XY/XY/' onclick="javascript:change_apercu("+i+",'pokemon/XY/XY/','Tous')" src="images/cards/pokemon/XY/XY/" + i + ".png")
                        - }
                        - for (var i=50 ; i<59 ; i++){
                            div.uneCarte
                                img(id='carte_Tous_energy/' onclick="javascript:change_apercu("+i+",'energy/','Tous')" src="images/cards/energy/" + i + ".png")
                        - }
                        - for (var i=0 ; i<0 ; i++){
                            div.uneCarte
                                img(id='carte_Tous_trainer/' onclick="javascript:change_apercu("+i+",'trainer/','Tous')" src="images/cards/trainer/" + i + ".png")
                        - }
                    div.contenu_onglet#contenu_onglet_Pokemons
                        - for (var i=1 ; i<44 ; i++){
                            div.uneCarte
                                img(id='carte_pokemon_pokemon/XY/XY/' onclick="javascript:change_apercu("+i+",'pokemon/XY/XY/','pokemon')" src="images/cards/pokemon/XY/XY/" + i + ".png")
                        - }

                    div.contenu_onglet#contenu_onglet_Energies
                        - for (var i=50 ; i<59 ; i++){
                             div.uneCarte
                                img(id='carte_energy_pokemon/XY/XY/' onclick="javascript:change_apercu("+i+",'energy/','energy')" src="images/cards/energy/" + i + ".png")
                        - }

                    div.contenu_onglet#contenu_onglet_Trainer
                        - for (var i=0 ; i<0 ; i++){
                            div.uneCarte
                                img(id='carte_trainer_trainer/' onclick="javascript:change_apercu(" + i + ",'trainer/','trainer')" src="images/cards/trainer/" + i + ".png")
                        - }

            div#ListeCarteApercu
                h3 Aperçu de la carte
                img(id="myapercu" src="images/cards/pokemon/XY/XY/" + 1 + ".png")
                br
                button.btn.btn-default(id='buttonAdd' class="myButton") Ajouter au deck

    div#titreDeck
        div#titreDeck1
            h1 Ton deck :
        div#titreDeck2
            h3 Tout sélectionner
        div#titreDeck3
            button.btn.btn-default(type='' class="myButton") Supprimer la sélection
        div#titreDeck4
            button.btn.btn-default(type='' class="myButton") Enregistrer le deck
        div#titreDeck5
            h3 Nb cartes :

    div#tonDeck
        div#tonDeck1
            h3 Listes des types :
            h4 Tous (nb)
            h4 Energies (nb)
            h4 Dresseurs (nb)
            h4 Pokémons (nb)
        div#tonDeck2