//
   Created by boulanger on 10/06/2016.

extends banniere

block content
    h1 vous etes connecté
        h2 tu es deja connecté en tant que #{Account.username}
        a(href="/logout") se déconnecter