//
   Created by boulanger on 10/06/2016.

extends banniere

block content
        div#connect
            if (user)
                h1 Bienvenue #{user.username}
                a(href="/logout") Se déconnecter