//
   Created by boulanger on 08/06/2016.
extends banniere

block content
    div#form
        h1 Inscription Pokémon TCG
            br
            form(role='get', action="/register",method="post", style='max-width:100%;')
                .form-group
                    input.form-control(type='text', name="username", placeholder='Entrer un Pseudo')
                .form-group
                    input.form-control(type='text', name="mail", placeholder='Entrer une adresse mail')
                .form-group
                    input.form-control(type='password', name="password", placeholder='Entrer un mot de passe')
                .form-group
                button.btn.btn-default(type='submit') Inscription
            a(href='/')
                button.btn.btn-primary(type="button") Cancel



