#Description{
    margin-top: 50px;
    margin-bottom:50px;
    margin-left:10%;
    width : 80%;
    height: 80%;
    border: groove;
    font-size: 20px;
    font-family: "Calibri Light";
    text-align: center;
    font-style: italic;
}

#BoutonAdmin{
    height:100%;
    width:100%;
    margin-bottom: 50px;
}

#SeDeconnecter{

    width:25%;
    float:left;
    height:100%;
    text-align: left;
    margin-left: 20px;
}

#AllerGestion{
    width:25%;
    margin-right: 20px;
    float:right;
    text-align: right;
    height:100%;
}

.TitreBlocAdmin{
    margin-top: 30px;
    margin-bottom:60px;
    width : 50%;
    height: 80%;
    border: double;
    font-size: 20px;
    float:left;
    text-align: center;
}


#AdminGauche{
    width : 23%;
    height: 400px;
    float:left;
}

#AdminGauche img{
    width:auto;
    height:100%;
}

#AdminDroite{
    margin-top: -100px ;
    width : 23%;
    height: 400px;
    float:left;
}

#AdminDroite img{
    width:300px;
    height:auto;
}

#Admin{
    height:100%;
    width:100%;
    text-align: center;
}

#Admin h1{
    font-weight: lighter;
    font-size:22px;
    font-family: "Calibri Light";
    color : cornflowerblue;

}